@import url('https://fonts.google.com/specimen/League+Spartan?query=spartan');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;

}

h1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 10;
    color: #222;
}

h2 {
    font-size: 41px;
    line-height: 51px;
    color: #222;

}
h3 {
    font-size: 50px;
    line-height: 64px;
}
 h4 {
    font-size: 20px;
    color: #222;
 }
 h6{
    font-weight: 700;
    font-size: 12px;
 }

 p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
 }
 .section-p1 {
    padding: 40px 80px;
 }
 .section-m1 {
    margin: 20px 0px;
 }
 #header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
 }

 #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
 }

#navbar li a{
   text-decoration: none;
   font-size: 20px;
   font-weight: 600;
   color: black; 
   transition: 0.3s ease;
 }
 #navbar li a:hover,
 #navbar li a.active{
    color: #088178;
 }s
 #navbar li a.active::after,
 #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background:#088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  #feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 button.products {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #edb4b4;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: o.2s;
 }
 
 #orders .pro-cotainer {
    

    padding: 10px;
 }
 #orders .pro {
    width: 900px;
    /*min-width: 800px;*/
    height: 10vh;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
 }
 #orders .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
 }
 #orders table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
 }
 #orders table img{
    width: 70px;
 }
 footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:  50px;
 }
 footer .logo{
    margin-bottom: 30px;
 }
 footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
 }
 footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
 }
 footer  a {
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    color:#222;
 }
 footer .follow{
    margin-top: 20px;
 
 }
 footer .follow {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
 }
 footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
 }
 footer .install img {
    margin: 10px 0 15px 0;
 }
 footer .follow i:hover,
 footer a:hover {
 color: #088178;
 }
 footer .copyright {
    width: 100%;
    text-align: center;
 }